@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
:root{
    background-color: #90EE90;
    --main: #0078C3;

}
#container{
    background-color: var(--main);
    width: 70%;
    margin: 0 auto;
    max-width: 792px;
    padding: 10px;
    border: #45acec solid 5px;
}
#hero{
  background-color: #002E59;
  background-image: url("/images/OutdoorTennis2019_2_WEB_.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-contain;
  min-height: 20vh;
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
  text-align: center;
  color: #c2ffc2;
  text-shadow: 5px 5px 2px #003087;
  font-weight: 400px;
  border: dashed #77c5ee;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 35px;
}
#info, #detail, #rules, #text{
    font-family: 'Nova Mono', monospace;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 48px;
    color: white;
}
#infoHeader, #detailHeader, #rulesHeader, #sponsorHeader{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    color: white;
}
#sponsor img{
  display: block;
  margin: auto;
}
#sponsor img:hover{
  filter: grayscale(100%);
  transition: .5s ease-in-out;
}
#link a{
    color: rgb(243, 233, 233);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    display: block;
    background-color:#002E59 ;
    padding: 12px, 16px;
    color: #fcfcfc;
    text-align: center;
    max-width: 50%;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    border: 3px solid #D9D9DB;
    transition: 0.5s;
}
#link a:hover{
    color: #002E59;
    background-color: #9bd9ff;
    border-color: #002E59;
    max-width: 75%;
    transition: 1s;
  }  
footer{
    background-color: #002E59;
    color: #D9D9DB;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
  }
  
  footer p{
    margin: 20px 0;
  }
#title{
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;
  text-align: left;
  color: #bee3fa;
  text-shadow: 5px 5px 2px #003087;
  font-weight: 400px;
}
span{
  border: dashed #45acec 5px;
  border-radius: 30px 30px 30px 30px;
}
#content{
  display: flex;
}
#text{
  max-width: 400px;
  margin-right: 50px;
}
#image img{
  max-width: 100%;
}
#image{
  margin-top: 50px;
}